<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.css"/>
	<style>
		[v-cloak]{
			display: none;
		}
	</style>
	<body>
		<div id="app" v-cloak>
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">商品管理</h3>
				</div>
				<div class="panel-body form-inline" >
					
					<label>
						名称:
						<input type="text" class="form-control" v-model='name' @keyup.enter="add" />
					</label>
					<input type="button"  id="" value="添加" class="btn btn-primary" @click="addTwo"/>
					<label>
						搜索关键字:
						<input type="text" class="form-control" v-model="keywords" v-focus />
					</label>
					
					<div style="width: 100%; height: 30px;"></div>
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>名称</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in search(keywords)" :key="item.id">
					   <td>{{item.id}}</td>
					   <td>{{item.name}}</td>
					   <td>{{item.time|timeFilter()}}</td>
					   <td> <a href="#" @click.prevent="del(item.id)">删除</a> </td>
					     
					
				    </tr>
				</tbody>
				
				
				
			</table>
		</div>
				
				
				
				
	</div>
			
		
			
			
		</div>
		
		
	<script type="text/javascript" src="js/Vue.js" ></script>
	<script type="text/javascript" src="js/vue-resource.js"></script>
	<script type="text/javascript" src="js/goods.js" ></script>
	</body>
</html>
